body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

input, select {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}
select{
    width: 100%;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #2575fc;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1b5ad9;
}

#errorBox {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
